<!DOCTYPE html>
<div class="card">
  <img
    class="card-img-top"
    src="https://cdn.shopclues.com/images1/thumbnails/91266/320/320/140331852-91266140-1534494280.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">Shirt name 1</h5>
    <p class="card-text">price: 50$</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>

<div class="card">
  <img
    class="card-img-top"
    src="https://4.imimg.com/data4/RJ/SX/MY-12607786/combo2-_pack-of-5-assorted-formal-shirts-500x500.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">Shirt 2</h5>
    <p class="card-text">Price: 200$</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
<div class="card">
  <img
    class="card-img-top"
    src="https://5.imimg.com/data5/WE/XU/MY-29477425/latest-fancy-shirts-500x500.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">Shirt 3</h5>
    <p class="card-text">Price: 200$</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>

<h1>email id is</h1>
<h1>{{ email }}</h1>
