<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>Welcome, Admin</h2>

<form action="add">
	<h2>Add Word to Dectionary</h2>
	Word: <input type="text" name="word">
	Mean: <input type="text" name="mean">
	<input type="submit" value="Add Word to Dictionary">
</form>

<form action="delete">
	<h2>Delete Word from Dictionary</h2>
	Word: <input type="text" name="deleteword">
	<input type="submit" value="Delete Word from Dictionary">
</form>
</body>
</html>