<!DOCTYPE html>
<!-- <!DOCTYPE html>
<h1>Hello world</h1>
<input type="text" />
<div class="container">
  <button class="btn btn-primary">click here</button>
</div>

<p>
  {{ title }}
</p>
<p>
  {{ cities }}
</p>

<ul>
  <li *ngFor="let i of cities">
    {{ i }}
  </li>
</ul>

<div *ngIf="islogin; else my">
  <p>logged in</p>
</div>
<ng-template #my>
  <p>not logged in</p>
</ng-template>

<app-login> </app-login> -->
<div class="container">
  <div class="row">
    <div class="col-6">
      <app-home></app-home>
    </div>
    <div class="col-6">
      <app-register></app-register>
    </div>
  </div>
</div>
